* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 80%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 2rem;
  font-size: 1.8em;
}

.navbar li{
    display: flex;
    justify-content: center;
    width: 8rem;
    height: 100%;
}

.navbar li:hover{
    background-color: #666666;
    padding: 0 0.6rem;
    border-radius: 0.4rem;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.title {
  font-size: 3.5em;
  margin-bottom: 20px;
  color: #555;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 15px;
}

.text {
  font-size: 1.4em;
}
