{% extends "layout.html" %} 
{% block title %} Login Page {% endblock %}
{% block content %}
<form method="post" class="login-form">
  {% csrf_token %}
  <div class="label"><label for="payer_id">Payer ID:</label></div>
  <div class="input"><input type="text" id="payer_id" name="id" required /></div>
  <div class="label"><label for="password">Password:</label></div>
  <div class="input"><input type="password" id="password" name="password" required /></div>
  <button type="submit">Login</button>
</form>
{% endblock %}
